.home-card-title{
  font-weight: bold;
  
  cursor:pointer;
}
.home-card{ 
  width: 100% ;
  min-height: 120px ; 
  overflow: auto;
  max-height: 300px;
  margin:1px;
  
}
.home-card-box{
  margin: 0;
  width: 100%;

}