.home-out-box{
  height:100% ;
  width:100% ;
  display: flex;
  background-color: white;
  z-index: 100;
  justify-content: space-between;
}
.home-right-box{
  display:flex ;
  flex-flow:column wrap;
  align-content:center;
  justify-self: center;
}
.home-left-box{
  flex-grow: 2;
  display:flex ;
  flex-flow:column wrap;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 5px pink;
}
.home-title{
  font: 2em sans-serif !important;
  margin: 5px;
  font-weight: bolder !important;
}