@import '~antd/dist/antd.css';

.app-sider{
  width: 30vw;
}
.app-header {
  min-height: 35vh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 0;
}
.app-layout {
  background-color: rgba(255, 255, 255, 0);
  width: 90vw;
  position: absolute;
  left: 50vw;
  margin-left: -45vw;
}
.app-layout2 {
  background-color: rgba(255, 255, 255, 0);
}
html,body{
  background-color: skyblue;
}
.app-content{
  background-color: aliceblue;
  width: 100%;
}